* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding-inline: 10px;
}

a {
  color: black;
  text-decoration: none;
}

hr {
  border: 0.5px solid #541985;
  margin-block: 0;
}

main ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main ul > li > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

label[for='pan'],
label[for='leche'] {
  text-decoration: line-through;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  padding-inline: 15px;
  height: 15vh;
  background-color: #5169a7;
}

header > h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

header > nav > ul {
  display: flex;
  gap: 10px;
}

header + div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
  background-color: #d1bead;
}

section:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
  background-color: #d09d72;
}

section:first-of-type > a > div {
  font-size: 1.2rem;
  font-weight: 900;
  margin-block-end: 2px;
  color: #d09d72;
  z-index: 1;
}

section:first-of-type > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #541985;
  border-radius: 50%;
  z-index: 0;
}

a[href='index.html'] > div {
  width: 15px;
  height: 5px;
  background-color: #d09d72;
}

section:first-of-type > h2 {
  font-weight: 500;
}

section:nth-of-type(2) > ul > li {
  display: flex;
  justify-content: space-between;
}

section:nth-of-type(2) > ul > li:hover {
  color: #cd5b1d;
}

section:nth-of-type(2) > ul > li:hover img {
  filter: invert(38%) sepia(37%) saturate(2155%) hue-rotate(352deg)
    brightness(98%) contrast(87%);
}

section:nth-of-type(2) > ul {
  margin-block-start: 30px;
  margin-block-end: 10px;
  margin-inline-end: 10px;
}

section:nth-of-type(2) > h2 {
  text-align: end;
  margin-inline-end: 20px;
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #5169a7;
}

/* Pantalla form */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50vw;
  margin-block: 20px;
  margin-inline: 15px;
}

input[type='text'] {
  border: none;
  border-bottom: 1px solid #541985;
  background-color: transparent;
}

input[type='submit'] {
  width: 90px;
  font-size: 1rem;
  margin-block: 20px;
  padding: 10px;
  border: none;
  color: white;
  background-color: #5169a7;
  cursor: pointer;
}
